* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

@media(min-width:1023px) {
    .bodypart {
        /* border: 1px solid red; */
        height: 170px;
        width: 100%;
        background-color: rgb(236, 237, 240);

    }

    .bodyyy {
        float: left;
        margin-left: 180px;
    }

    .body li {
        list-style: none;
        float: left;
        font-size: 25px;
        margin-left: 140px;
        margin-top: 65px;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .body li:hover {
        transform: scale(1.1);
        text-decoration: underline;
    }

    .body i {
        font-size: 30px;
    }

    .call {
        height: 60px;
        width: 100%;
        /* border: 1px solid red; */
        background-color: black;
        /* position: sticky;
        top: 0px; */
        color: white;
        padding: 16px;
        text-align: center;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .call:hover {
        transform: scale(1.1);
        transition: 2s;
    }

    .mainpart {
        height: 500px;
        width: 100%;
        /* border: 1px solid red; */
        background-color: rgb(236, 237, 240);
    }

    .main {
        float: left;
        margin-left: 115px;
        margin-top: 30px;

    }

    .main h1 {
        margin-top: 20px;
        font-size: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .main p {
        margin-top: 30px;
        font-size: 21px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .subpart {
        height: 500px;
        width: 100%;
        /* border: 1px solid red; */
    }

    .sub {
        height: 350px;
        width: 80%;
        /* border: 1px solid red; */
        margin-top: 145px;
        margin-left: 147px;
        background-color: rgb(236, 237, 240);


    }

    .sub p {
        text-align: center;
        padding-top: 50px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(88, 87, 87);
    }

    .sub button {
        margin-left: 550px;
        margin-top: 100px;
        padding: 15px 25px 15px 25px;
        font-size: 15px;
        background-color: rgb(9, 84, 224);
        color: white;
        border-radius: 50px;
    }

    .sub button:hover {
        transform: scale(1.1);
        transition: 2s;
        color: black;
        background-color: transparent;
    }

    .meet {
        height: 1000px;
        width: 100%;
        /* border: 1px solid red; */
        background-color: rgb(16, 16, 41);
    }

    .team {
        float: left;
        margin-left: 100px;
        margin-top: 100px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }

    .team1 {
        margin-left: 700px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .team1 img {
        margin-top: 70px;
    }

    .team1 h2 {
        margin-top: 10px;

    }

    .team2 {
        float: left;
    }

    .team2 h2 {
        margin-top: 10px;
    }

    .team3 img {
        margin-left: 20px;
    }

    .team3 h2 {
        margin-top: 10px;
    }

    .contact {
        height: 800px;
        width: 100%;
        border: 1px solid red;
    }

    .photo {
        float: left;
        margin-left: 120px;
        margin-top: 70px;
    }

    .formm {
        height: 700px;
        width: 40%;
        /* border: 1px solid red; */
        margin-left: 730px;
        margin-top: 70px;
    }

    .formm h1 {
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 3px;
    }

    .formm p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .formm label {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .formm input {
        padding: 15px 410px 15px 10px;
        margin-top: 5px;
    }

    .box {
        margin-top: 30px;
    }

    .box button {
        padding: 15px 40px 15px 40px;
        font-size: 15px;
        background-color: rgb(9, 84, 224);
        color: white;
        border-radius: 10px;
    }

    .box button:hover {
        transform: scale(1.1);
        transition: 2s;
        background-color: transparent;
        color: black;
    }

    .footer {
        height: 500px;
        width: 100%;
        /* border: 1px solid red; */
        background-color: black;
    }

    .foot {
        float: left;
        margin-left: 63px;
        color: white;
        margin-top: 90px;
    }

    .foot h1 {
        margin-left: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    .foot p {
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .foot b {
        color: gold;
    }

    .foot input {
        border-radius: 10px;
        padding: 15px 250px 15px 10px;
        /* text-align:left; */
    }

    .foot label {

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .foot button {
        font-size: 15px;
        padding: 15px 40px;
        background-color: rgb(3, 101, 198);
        color: white;
        border-radius: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .foot button:hover {
        transform: scale(1.1);
    }

    .foot span {
        margin-left: 150px;
        font-size: 50px;
        color: green;
        position: fixed;
        bottom: 0;

    }

}